body{
  background:#915D50;
}


.jumbotron {
  padding:0.5%;
  border-radius:0;
  background:#653239 !important;
  letter-spacing:0.3em;
  
}

.forecast {
  background:#8AA8A1;
 
}

#citySideBar {
  background:#AF7A6D !important;
  margin-top:-1.7%;
}

#run-search{
  background:white;
  color:#AF7A6D;
  border:none !important;
}

h4{
  color:white;
}

.city-button{
  background:#AF7A6D;
  color:white;
}
.favorable {
  background-color:rgb(0, 173, 0);
 border-radius:10px;
 padding:1%;
}

.moderate {
  background-color:yellow;
  color:black;
  border-radius:10px;
  padding:1%;

}

.high {
  background-color:orangered;
  border-radius:10px;
  padding:1%;
}
.severe {
  background-color:red;
  border-radius:10px;
  padding:1%;
  
}

.extreme {
  background-color:indigo;
  border-radius:10px;
  padding:1%;
  
}

#current-conditions{
  background:#915D50;
  color:white;
  padding-top:2em;
  padding-bottom:2em;
}

#five-day{
  background:#915D50;
  color:white;
  padding-top:2em;
  padding-bottom:2em;
}

.forecast {
  width:13em
}

span.card-body {
  padding:0;
}