 body{
   background:#4F5D75
 } 
.jumbotron {
  padding:0.5%;
  border-radius:0;
  background:#2D3142 !important;
}

#city-search{
  background:#EF8354;
  border-radius:10px;
  color:white;
  text-align: center;
}


#cityContainer {
  margin-right: auto;
  background:#4F5D75;
  border-radius:10px;
}

.btn-primary {
  background-color:#BFC0C0;
  border:none !important;
  color:#EF8354;
}
#current-conditions, #five-day{
  background:#4F5D75;
  padding-bottom:2.5%;
  width:75%;
  color:white;
  border-radius:10px;

}
#wicon {
  float: inline-end;
}
h3 {
  display:inline-block
}

span {
  color:white;
  padding:0.5%;
  
}
.card-body {
  padding:10%;
  width:auto;
  border:none !important;
  background-color: #637492 !important;

}

.card {
  background-color: #637492 !important;
  width:12em;

}
.favorable {
  background-color:rgb(0, 173, 0);
 
}

.moderate {
  background-color:yellow;
  color:black;

}

.high {
  background-color:orangered;
}
.severe {
  background-color:red;
  
}

.extreme {
  background-color:indigo;
  
}