  
.jumbotron {
  padding:0.5%;
  border-radius:0;
}

#cityContainer {
  margin-right: auto;
}

#wicon {
  float: inline-end;
}
h2 {
  display:inline-block
}

span {
  color:white;
  padding:0.5%;
}
.favorable {
  background-color:rgb(0, 173, 0);
 
}

.moderate {
  background-color:yellow;
  color:black;

}

.high {
  background-color:orangered;
}
.severe {
  background-color:red;
  
}

.extreme {
  background-color:indigo;
  
}